.dot{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 10px;
}
.dot.LOW{
    background-color: red;
}
.dot.MEDIUM{
    background-color: yellow;
}
.dot.GOOD{
    background-color: lightgreen;
}
.past{
    opacity: 25%;
}
.hide{
    display: none;
}
.price{
    font-size: 50%;
}
.seat{
    display: inline-block;
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 10px;
    background-color: #DDDDDD;
}
.seat.available{
    background-color: #8080FF;
}




.seat.available.Z12B44C00-FEA3-4B1C-A903-183B4BF65BF6{
    background-color: rgb(67, 212, 244);
}
.seat.available.Z3D4FC0DB-E961-4ABE-93B7-74B5DB293043{
    background-color: rgb(105, 109, 145);
}
.seat.available.ZE9613086-CAB9-412D-BCDE-AF44F85308FE{
    background-color: rgb(255, 0, 133);
}
.seat.available.Z5CAA4A20-8ADF-419E-84EC-53010E022329{
    background-color: rgb(245, 130, 49);
}
.seat.available.Z9DCE98DD-8CED-4D28-9CFC-F56B599E3457{
    background-color: rgb(214, 152, 255);
}
.seat.available.Z8D781BA2-EB6F-4B14-9BE1-0CD13DE688A5{
    background-color: rgb(97, 55, 178);
}
.seat.available.ZC14106B5-19D0-4926-A134-14AFF3E8C6DD{
    background-color: rgb(99, 164, 240);
}
.seat.available.ZCE2685E0-C355-42FC-8464-F2E0BF817BF9{
    background-color: rgb(2, 208, 169);
}
.seat.available.ZD2B0BC25-BCFB-4603-BD00-4FE2E7E0A565{
    background-color: rgb(255, 210, 65);
}
.seat.Z26B3B1C1-9DF2-404D-B1B4-7F2CAE103B73.available{
    background-color: red;
}
.seat.available.Z12B44C00-FEA3-4B1C-A903-183B4BF65BF6{
    background-color: rgb(67, 212, 244);
}

.box{
    width: 100px;
    height: 100px;
    border: solid thin black;
    border-radius: 10px;
}
.Evening{
    
}
.Matinee{

}

#calendar {
    width: 820px;
    display: flex;
    flex-wrap: wrap;
    padding: 0.2rem;
  }
  
  #calendar div {
    margin: 0.2rem;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
    transition: background-color 0.2s;
  }
  #calendar div:hover:not(.today) {
    border: 0.2rem solid white;
    cursor: pointer;
  }
  
  
  
  #weekdays {
    width: 805px;
    height: 5rem;
    padding: 0 2rem;
    display: flex;
    align-items: center;
  }
  
  #weekdays div {
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    width: calc(5.5rem + 2.5vw);
  }

.disdot{
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: none;
}

.disdot.LOW{
    background-color: red;
}
.disdot.MEDIUM{
    background-color: yellow;
}
.disdot.GOOD{
    background-color: lightgreen;
}





.disdot.available{
    background-color: #8080FF;
}
.disdot.available.Z12B44C00-FEA3-4B1C-A903-183B4BF65BF6{
    background-color: rgb(67, 212, 244);
}
.disdot.available.Z3D4FC0DB-E961-4ABE-93B7-74B5DB293043{
    background-color: rgb(105, 109, 145);
}
.disdot.available.ZE9613086-CAB9-412D-BCDE-AF44F85308FE{
    background-color: rgb(255, 0, 133);
}
.disdot.available.Z5CAA4A20-8ADF-419E-84EC-53010E022329{
    background-color: rgb(245, 130, 49);
}
.disdot.available.Z9DCE98DD-8CED-4D28-9CFC-F56B599E3457{
    background-color: rgb(214, 152, 255);
}
.disdot.available.Z8D781BA2-EB6F-4B14-9BE1-0CD13DE688A5{
    background-color: rgb(97, 55, 178);
}
.disdot.available.ZC14106B5-19D0-4926-A134-14AFF3E8C6DD{
    background-color: rgb(99, 164, 240);
}
.disdot.available.ZCE2685E0-C355-42FC-8464-F2E0BF817BF9{
    background-color: rgb(2, 208, 169);
}
.disdot.available.ZD2B0BC25-BCFB-4603-BD00-4FE2E7E0A565{
    background-color: rgb(255, 210, 65);
}
